DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=ruakh
DATABASE_USER=ruakh
DATABASE_PASSWORD=ruakh

DATABASE_URL=postgres://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}

# Web Push (generated with: npx web-push generate-vapid-keys)
PUBLIC_VAPID_KEY=PUBLIC_VAPID_KEY
PRIVATE_VAPID_KEY=PRIVATE_VAPID_KEY
VAPID_SUBJECT=mailto:myemail.com
